[submodule "libsodium-jni"]
	path = libsodium-jni
	url = git@github.com:kryptco/libsodium-jni
[submodule "zxing"]
	path = zxing
	url = https://github.com/zxing/zxing
[submodule "ssh-wire"]
	path = ssh-wire
	url = git@github.com:kryptco/ssh-wire
[submodule "sigchain"]
	path = sigchain
	url = git@github.com:kryptco/sigchain
