[submodule "libsodium-jni"]
	path = libsodium-jni
	url = https://github.com/joshjdevl/libsodium-jni
[submodule "zxing"]
	path = zxing
	url = https://github.com/zxing/zxing
[submodule "identicon"]
	path = identicon
	url = https://github.com/KryptCo/identicon
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "openssh-portable"]
	path = openssh-portable
	url = https://github.com/openssh/openssh-portable
[submodule "openssh-google"]
	path = openssh-google
	url = https://android.googlesource.com/platform/external/openssh
