[submodule "libsodium-jni"]
	path = libsodium-jni
	url = https://github.com/joshjdevl/libsodium-jni
[submodule "zxing"]
	path = zxing
	url = https://github.com/zxing/zxing
[submodule "identicon"]
	path = identicon
	url = https://github.com/KryptCo/identicon
[submodule "ssh-wire"]
	path = ssh-wire
	url = git@github.com:kryptco/ssh-wire
